<div class="row">
    <div class="col-md-6 offset-md-3">
<div class="card mt-2">
    <div class="card-header">
        <h3>User Registration</h3>
    </div>
    <div class="card-body">
<form #form="ngForm" (ngSubmit)="register(form)">
    <div class="form-group">
    <label for="userName">Username</label>
    
      <input
        type="text"
        id="userName"
        name="username"
        class="form-control"
        placeholder="Username"
        ngModel required
        autofocus
      />
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      
        <input
          type="text"
          id="firstName"
          name="firstName"
          class="form-control"
          placeholder="First Name"
          ngModel required
          autofocus
        />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        
          <input
            type="text"
            id="lastName"
            name="lastName"
            class="form-control"
            placeholder="Last Name"
            ngModel required
            autofocus
          />
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          
            <input
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              class="form-control"
              placeholder="phoneNumber"
              autofocus
            />
          </div>

    <div class="form-group">
        <label for="email">Email</label>
        
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email"
            ngModel required
            autofocus
          />
        </div>
    

    <div class="form-group">
    <label for="inputPassword">Password</label>
      <input
        type="password"
        id="inputPassword"
        name="password"
        class="form-control"
        placeholder="Password"
        ngModel required
      />
    </div>

    <div class="form-group">
        <label for="confirm">Confirm Password</label>
          <input
            type="password"
            id="confirm"
            name="confirm"
            class="form-control"
            placeholder="Confirm Password"
            ngModel required
          />
        </div>
  
    <div class="checkbox mb-3 text-danger" *ngIf="loginError">
      Login failed. Please try again.
    </div>
    <button
      type="submit"
      class="btn btn-lg btn-primary"
      [disabled]="busy"
    >
      Register
    </button>
  
  </form>
</div>
</div>
</div>
</div>